<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hklk.oplatform.dao.inter.ConsumablesMapper">
    <resultMap id="BaseResultMap" type="com.hklk.oplatform.entity.table.Consumables">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="num" property="num" jdbcType="INTEGER"/>
        <result column="unit_price" property="unitPrice" jdbcType="DOUBLE"/>
        <result column="curriculum_id" property="curriculumId" jdbcType="INTEGER"/>
        <result column="unit" property="unit" jdbcType="VARCHAR"/>
        <result column="pic" property="pic" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, name, num, unit_price, curriculum_id, unit,pic
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from hklk_consumables
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from hklk_consumables
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.hklk.oplatform.entity.table.Consumables">
    insert into hklk_consumables (id, name, num, 
      unit_price, curriculum_id, unit,pic
      )
    values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{num,jdbcType=INTEGER}, 
      #{unitPrice,jdbcType=DOUBLE}, #{curriculumId,jdbcType=INTEGER}, #{unit,jdbcType=VARCHAR}, #{pic,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.hklk.oplatform.entity.table.Consumables">
        insert into hklk_consumables
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="num != null">
                num,
            </if>
            <if test="unitPrice != null">
                unit_price,
            </if>
            <if test="curriculumId != null">
                curriculum_id,
            </if>
            <if test="unit != null">
                unit,
            </if>
            <if test="pic != null">
                pic,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="num != null">
                #{num,jdbcType=INTEGER},
            </if>
            <if test="unitPrice != null">
                #{unitPrice,jdbcType=DOUBLE},
            </if>
            <if test="curriculumId != null">
                #{curriculumId,jdbcType=INTEGER},
            </if>
            <if test="unit != null">
                #{unit,jdbcType=VARCHAR},
            </if>
            <if test="pic != null">
                #{pic,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.hklk.oplatform.entity.table.Consumables">
        update hklk_consumables
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="num != null">
                num = #{num,jdbcType=INTEGER},
            </if>
            <if test="unitPrice != null">
                unit_price = #{unitPrice,jdbcType=DOUBLE},
            </if>
            <if test="curriculumId != null">
                curriculum_id = #{curriculumId,jdbcType=INTEGER},
            </if>
            <if test="unit != null">
                unit = #{unit,jdbcType=VARCHAR},
            </if>
            <if test="pic != null">
                pic = #{pic,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.hklk.oplatform.entity.table.Consumables">
    update hklk_consumables
    set name = #{name,jdbcType=VARCHAR},
      num = #{num,jdbcType=INTEGER},
      unit_price = #{unitPrice,jdbcType=DOUBLE},
      curriculum_id = #{curriculumId,jdbcType=INTEGER},
      unit = #{unit,jdbcType=VARCHAR},
      pic = #{pic,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

    <select id="queryConsumablesByCurId" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from hklk_consumables
        where curriculum_id = #{curriculumId,jdbcType=INTEGER}

    </select>
</mapper>