<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hklk.oplatform.dao.inter.CurriculumMapper">
    <resultMap id="BaseResultMap" type="com.hklk.oplatform.entity.table.Curriculum">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="cover" property="cover" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="subject" property="subject" jdbcType="VARCHAR"/>
        <result column="grade" property="grade" jdbcType="VARCHAR"/>
        <result column="learning_style" property="learningStyle" jdbcType="VARCHAR"/>
        <result column="class_hours" property="classHours" jdbcType="VARCHAR"/>
        <result column="collection_num" property="collectionNum" jdbcType="INTEGER"/>
        <result column="author" property="author" jdbcType="VARCHAR"/>
        <result column="enclosure" property="enclosure" jdbcType="VARCHAR"/>
        <result column="enc_des" property="encDes" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="unique_num" property="uniqueNum" jdbcType="VARCHAR"/>
    </resultMap>
    <resultMap id="ResultMapWithBLOBs" type="com.hklk.oplatform.entity.table.Curriculum" extends="BaseResultMap">
        <result column="des" property="des" jdbcType="LONGVARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, cover, name, subject, grade, learning_style, class_hours, collection_num, author, 
    enclosure, enc_des, status,unique_num
    </sql>
    <sql id="Blob_Column_List">
    des
  </sql>
    <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from hklk_curriculum
        where id = #{id,jdbcType=INTEGER}
    </select>


    <select id="selectIdByUniqueNum" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        id
        from hklk_curriculum
        where  unique_num = #{unique_num,jdbcType=VARCHAR}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from hklk_curriculum
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.hklk.oplatform.entity.table.Curriculum">
    insert into hklk_curriculum (id, cover, name, 
      subject, grade, learning_style, 
      class_hours, collection_num, author, 
      enclosure, enc_des, status,
      des,unique_num)
    values (#{id,jdbcType=INTEGER}, #{cover,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{subject,jdbcType=VARCHAR}, #{grade,jdbcType=VARCHAR}, #{learningStyle,jdbcType=VARCHAR}, 
      #{classHours,jdbcType=VARCHAR}, #{collectionNum,jdbcType=INTEGER}, #{author,jdbcType=VARCHAR}, 
      #{enclosure,jdbcType=VARCHAR}, #{encDes,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{des,jdbcType=LONGVARCHAR}, #{unique_num,jdbcType=VARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.hklk.oplatform.entity.table.Curriculum">
        insert into hklk_curriculum
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="cover != null">
                cover,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="subject != null">
                subject,
            </if>
            <if test="grade != null">
                grade,
            </if>
            <if test="learningStyle != null">
                learning_style,
            </if>
            <if test="classHours != null">
                class_hours,
            </if>
            <if test="collectionNum != null">
                collection_num,
            </if>
            <if test="author != null">
                author,
            </if>
            <if test="enclosure != null">
                enclosure,
            </if>
            <if test="encDes != null">
                enc_des,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="des != null">
                des,
            </if>
            <if test="uniqueNum != null">
                unique_num
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="cover != null">
                #{cover,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="subject != null">
                #{subject,jdbcType=VARCHAR},
            </if>
            <if test="grade != null">
                #{grade,jdbcType=VARCHAR},
            </if>
            <if test="learningStyle != null">
                #{learningStyle,jdbcType=VARCHAR},
            </if>
            <if test="classHours != null">
                #{classHours,jdbcType=VARCHAR},
            </if>
            <if test="collectionNum != null">
                #{collectionNum,jdbcType=INTEGER},
            </if>
            <if test="author != null">
                #{author,jdbcType=VARCHAR},
            </if>
            <if test="enclosure != null">
                #{enclosure,jdbcType=VARCHAR},
            </if>
            <if test="encDes != null">
                #{encDes,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="des != null">
                #{des,jdbcType=LONGVARCHAR},
            </if>
            <if test="uniqueNum != null">
                #{uniqueNum,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.hklk.oplatform.entity.table.Curriculum">
        update hklk_curriculum
        <set>
            <if test="cover != null">
                cover = #{cover,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="subject != null">
                subject = #{subject,jdbcType=VARCHAR},
            </if>
            <if test="grade != null">
                grade = #{grade,jdbcType=VARCHAR},
            </if>
            <if test="learningStyle != null">
                learning_style = #{learningStyle,jdbcType=VARCHAR},
            </if>
            <if test="classHours != null">
                class_hours = #{classHours,jdbcType=VARCHAR},
            </if>
            <if test="collectionNum != null">
                collection_num = #{collectionNum,jdbcType=INTEGER},
            </if>
            <if test="author != null">
                author = #{author,jdbcType=VARCHAR},
            </if>
            <if test="enclosure != null">
                enclosure = #{enclosure,jdbcType=VARCHAR},
            </if>
            <if test="encDes != null">
                enc_des = #{encDes,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="des != null">
                des = #{des,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.hklk.oplatform.entity.table.Curriculum">
    update hklk_curriculum
    set cover = #{cover,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      subject = #{subject,jdbcType=VARCHAR},
      grade = #{grade,jdbcType=VARCHAR},
      learning_style = #{learningStyle,jdbcType=VARCHAR},
      class_hours = #{classHours,jdbcType=VARCHAR},
      collection_num = #{collectionNum,jdbcType=INTEGER},
      author = #{author,jdbcType=VARCHAR},
      enclosure = #{enclosure,jdbcType=VARCHAR},
      enc_des = #{encDes,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      des = #{des,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <update id="updateByPrimaryKey" parameterType="com.hklk.oplatform.entity.table.Curriculum">
        update hklk_curriculum
        set cover = #{cover,jdbcType=VARCHAR},
          name = #{name,jdbcType=VARCHAR},
          subject = #{subject,jdbcType=VARCHAR},
          grade = #{grade,jdbcType=VARCHAR},
          learning_style = #{learningStyle,jdbcType=VARCHAR},
          class_hours = #{classHours,jdbcType=VARCHAR},
          collection_num = #{collectionNum,jdbcType=INTEGER},
          author = #{author,jdbcType=VARCHAR},
          enclosure = #{enclosure,jdbcType=VARCHAR},
          enc_des = #{encDes,jdbcType=VARCHAR},
          status = #{status,jdbcType=INTEGER}
        where id = #{id,jdbcType=INTEGER}
    </update>

    <resultMap id="BaseResultVoMap" type="com.hklk.oplatform.entity.vo.CurriculumForListVo">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="cover" property="cover" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="subject" property="subject" jdbcType="VARCHAR"/>
        <result column="grade" property="grade" jdbcType="VARCHAR"/>
        <result column="learning_style" property="learningStyle" jdbcType="VARCHAR"/>
        <result column="class_hours" property="classHours" jdbcType="VARCHAR"/>
        <result column="collection_num" property="collectionNum" jdbcType="INTEGER"/>
        <result column="author" property="author" jdbcType="VARCHAR"/>
        <result column="enclosure" property="enclosure" jdbcType="VARCHAR"/>
        <result column="enc_des" property="encDes" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="ishc" property="ishc"/>
    </resultMap>

    <select id="queryCurriculums" resultMap="BaseResultVoMap"
            parameterType="com.hklk.oplatform.entity.table.Curriculum">
        select * from (select
        t.id, t.cover, t.name, t.subject, t.grade, t.learning_style, t.class_hours, t.collection_num, t.author,
        t.enclosure, t.enc_des, t.status
        ,(CASE count(c.id) WHEN 0 THEN 'false' ELSE 'true' END) as ishc
        from hklk_curriculum t LEFT join hklk_consumables c on t.id=c.curriculum_id GROUP BY t.id ) cc
        where status=1
        <if test="name != null">
            and cc.name like CONCAT('%', #{name}, '%')
        </if>
        <if test="grade != null">
            and cc.grade like CONCAT('%', #{grade}, '%')
        </if>
        <if test="learningStyle != null">
            and cc.learning_style like CONCAT('%', #{learningStyle}, '%')
        </if>
        <if test="subject != null">
            and cc.subject like CONCAT('%', #{subject}, '%')
        </if>
        order by id desc
    </select>
</mapper>