<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hklk.oplatform.dao.inter.PageMapper" >
  <resultMap id="BaseResultMap" type="com.hklk.oplatform.entity.table.PPage" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="page_name" property="pageName" jdbcType="VARCHAR" />
    <result column="parent_id" property="parentId" jdbcType="INTEGER" />
    <result column="page_src" property="pageSrc" jdbcType="VARCHAR" />
    <result column="page_remark" property="pageSrc" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, page_name, parent_id, page_src,page_remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from hklk_page
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from hklk_page
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hklk.oplatform.entity.table.PPage" >
    insert into hklk_page (id, page_name, parent_id, 
      page_src,page_remark)
    values (#{id,jdbcType=INTEGER}, #{pageName,jdbcType=VARCHAR}, #{parentId,jdbcType=INTEGER}, 
      #{pageSrc,jdbcType=VARCHAR}, #{pageRemark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hklk.oplatform.entity.table.PPage" >
    insert into hklk_page
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="pageName != null" >
        page_name,
      </if>
      <if test="parentId != null" >
        parent_id,
      </if>
      <if test="pageSrc != null" >
        page_src,
      </if>
      <if test="pageRemark != null" >
      page_remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="pageName != null" >
        #{pageName,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="pageSrc != null" >
        #{pageSrc,jdbcType=VARCHAR},
      </if>
      <if test="pageRemark != null" >
        #{pageRemark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hklk.oplatform.entity.table.PPage" >
    update hklk_page
    <set >
      <if test="pageName != null" >
        page_name = #{pageName,jdbcType=VARCHAR},
      </if>
      <if test="parentId != null" >
        parent_id = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="pageSrc != null" >
        page_src = #{pageSrc,jdbcType=VARCHAR},
      </if>
      <if test="pageRemark != null" >
        page_remark = #{pageRemark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hklk.oplatform.entity.table.PPage" >
    update hklk_page
    set page_name = #{pageName,jdbcType=VARCHAR},
      parent_id = #{parentId,jdbcType=INTEGER},
      page_src = #{pageSrc,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="queryPages" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from hklk_page
  </select>
</mapper>