<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hklk.oplatform.dao.inter.SchoolMapper">
    <resultMap id="BaseResultMap" type="com.hklk.oplatform.entity.table.School">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <id column="name" property="name" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime" jdbcType="TIMESTAMP"/>
        <result column="remarks" property="remarks" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="school_num" property="schoolNum" jdbcType="VARCHAR"/>

    </resultMap>
    <sql id="Base_Column_List">
        id, name, create_time, remarks, status,school_num
    </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from hklk_school
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from hklk_school
        where id = #{id,jdbcType=INTEGER}
    </delete>
    <insert id="insert" parameterType="com.hklk.oplatform.entity.table.School">
        insert into hklk_school (id, name, create_time,
          remarks, status,school_num)
        values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
          #{remarks,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{schoolNum,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" parameterType="com.hklk.oplatform.entity.table.School">
        insert into hklk_school
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="remarks != null">
                remarks,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="schoolNum != null">
                school_num,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="remarks != null">
                #{remarks,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="schoolNum != null">
                #{schoolNum,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.hklk.oplatform.entity.table.School">
        update hklk_school
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="remarks != null">
                remarks = #{remarks,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="schoolNum != null">
                school_num = #{schoolNum,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <update id="updateByPrimaryKey" parameterType="com.hklk.oplatform.entity.table.School">
        update hklk_school
        set create_time = #{createTime,jdbcType=TIMESTAMP},
          name = #{name,jdbcType=VARCHAR},
          remarks = #{remarks,jdbcType=VARCHAR},
          status = #{status,jdbcType=INTEGER},
          school_num = #{schoolNum,jdbcType=VARCHAR}
        where id = #{id,jdbcType=INTEGER}
  </update>

    <select id="querySchools" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from hklk_school
        <if test="_parameter  != null and _parameter != ''">
            where name like CONCAT('%', #{param}, '%') or school_num like CONCAT('%', #{param}, '%')
        </if>
        order by id desc
    </select>

    <select id="selectSchoolByName" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from hklk_school where name = #{name,jdbcType=VARCHAR}
    </select>
</mapper>