<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hklk.oplatform.dao.inter.SchoolAdminMapper">
    <resultMap id="BaseResultMap" type="com.hklk.oplatform.entity.table.SchoolAdmin">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="school_id" property="schoolId" jdbcType="INTEGER"/>
        <result column="nickname" property="nickname" jdbcType="VARCHAR"/>
        <result column="remarks" property="remarks" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="account" property="account" jdbcType="VARCHAR"/>
        <result column="pwd" property="pwd" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, school_id, nickname, remarks, status, account, pwd
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from hklk_school_admin
        where id = #{id,jdbcType=INTEGER}
    </select>


    <resultMap id="BaseResultVoMap" type="com.hklk.oplatform.entity.vo.SchoolAdminVo">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="school_id" property="schoolId" jdbcType="INTEGER"/>
        <result column="nickname" property="nickname" jdbcType="VARCHAR"/>
        <result column="remarks" property="remarks" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="account" property="account" jdbcType="VARCHAR"/>
        <result column="pwd" property="pwd" jdbcType="VARCHAR"/>
        <result column="schoolStatus" property="school_status" jdbcType="INTEGER"/>
    </resultMap>

    <select id="loginSchool" resultMap="BaseResultVoMap" parameterType="map">
        select a.*,s.`status` as school_status from hklk_school_admin a left join hklk_school s on a.school_id = s.id
        where account = #{account,jdbcType=VARCHAR} and pwd = #{pwd,jdbcType=VARCHAR}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from hklk_school_admin
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.hklk.oplatform.entity.table.SchoolAdmin">
    insert into hklk_school_admin (id, school_id, nickname,
      remarks, status, account,
      pwd
      )
    values (#{id,jdbcType=INTEGER}, #{schoolId,jdbcType=INTEGER}, #{nickname,jdbcType=VARCHAR},
      #{remarks,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{account,jdbcType=VARCHAR},
      #{pwd,jdbcType=VARCHAR}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.hklk.oplatform.entity.table.SchoolAdmin">
        insert into hklk_school_admin
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="schoolId != null">
                school_id,
            </if>
            <if test="nickname != null">
                nickname,
            </if>
            <if test="remarks != null">
                remarks,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="account != null">
                account,
            </if>
            <if test="pwd != null">
                pwd,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="schoolId != null">
                #{schoolId,jdbcType=INTEGER},
            </if>
            <if test="nickname != null">
                #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="remarks != null">
                #{remarks,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="account != null">
                #{account,jdbcType=VARCHAR},
            </if>
            <if test="pwd != null">
                #{pwd,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.hklk.oplatform.entity.table.SchoolAdmin">
        update hklk_school_admin
        <set>
            <if test="schoolId != null">
                school_id = #{schoolId,jdbcType=INTEGER},
            </if>
            <if test="nickname != null">
                nickname = #{nickname,jdbcType=VARCHAR},
            </if>
            <if test="remarks != null">
                remarks = #{remarks,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="account != null">
                account = #{account,jdbcType=VARCHAR},
            </if>
            <if test="pwd != null">
                pwd = #{pwd,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.hklk.oplatform.entity.table.SchoolAdmin">
    update hklk_school_admin
    set school_id = #{schoolId,jdbcType=INTEGER},
      nickname = #{nickname,jdbcType=VARCHAR},
      remarks = #{remarks,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      account = #{account,jdbcType=VARCHAR},
      pwd = #{pwd,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>


    <select id="querySchoolAdminsForCount" resultType="java.lang.Integer" parameterType="java.lang.Integer">
    select
    count(0)
    from hklk_school_admin
    where school_id = #{schoolId,jdbcType=INTEGER} and status = 1
  </select>

    <select id="querySchoolAdminsByName" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from hklk_school_admin
        where account = #{account,jdbcType=VARCHAR}
    </select>


    <select id="querySchoolAdminsBySchoolId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from hklk_school_admin
        where school_id = #{schoolId,jdbcType=INTEGER}
    </select>

</mapper>