<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hklk.oplatform.dao.inter.SClassMapper">
    <resultMap id="BaseResultMap" type="com.hklk.oplatform.entity.table.SClass">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="school_id" property="schoolId" jdbcType="INTEGER"/>
        <result column="grade" property="grade" jdbcType="INTEGER"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="create_by" property="createBy" jdbcType="INTEGER"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, school_id, grade, remark, name, create_by
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from hklk_school_class
        where id = #{id,jdbcType=INTEGER}
    </select>

    <select id="selectByNameForValidate" resultMap="BaseResultMap" parameterType="map">
        select
        <include refid="Base_Column_List"/>
        from hklk_school_class
        where name = #{name,jdbcType=VARCHAR} and school_id = #{schoolId,jdbcType=INTEGER}
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from hklk_school_class
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.hklk.oplatform.entity.table.SClass">
    insert into hklk_school_class (id, school_id, grade, 
      remark, name, create_by
      )
    values (#{id,jdbcType=INTEGER}, #{schoolId,jdbcType=INTEGER}, #{grade,jdbcType=INTEGER}, 
      #{remark,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{createBy,jdbcType=INTEGER}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.hklk.oplatform.entity.table.SClass">
        insert into hklk_school_class
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="schoolId != null">
                school_id,
            </if>
            <if test="grade != null">
                grade,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="createBy != null">
                create_by,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="schoolId != null">
                #{schoolId,jdbcType=INTEGER},
            </if>
            <if test="grade != null">
                #{grade,jdbcType=INTEGER},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="createBy != null">
                #{createBy,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.hklk.oplatform.entity.table.SClass">
        update hklk_school_class
        <set>
            <if test="schoolId != null">
                school_id = #{schoolId,jdbcType=INTEGER},
            </if>
            <if test="grade != null">
                grade = #{grade,jdbcType=INTEGER},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="createBy != null">
                create_by = #{createBy,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.hklk.oplatform.entity.table.SClass">
    update hklk_school_class
    set school_id = #{schoolId,jdbcType=INTEGER},
      grade = #{grade,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      create_by = #{createBy,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

    <select id="queryClasses" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from hklk_school_class
        where school_id = #{school_id,jdbcType=INTEGER}
    </select>
</mapper>