<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hklk.oplatform.dao.inter.STeacherMapper">
    <resultMap id="BaseResultMap" type="com.hklk.oplatform.entity.table.STeacher">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="t_name" property="tName" jdbcType="VARCHAR"/>
        <result column="phone" property="phone" jdbcType="VARCHAR"/>
        <result column="sex" property="sex" jdbcType="INTEGER"/>
        <result column="remark" property="remark" jdbcType="VARCHAR"/>
        <result column="status" property="status" jdbcType="INTEGER"/>
        <result column="pwd" property="pwd" jdbcType="VARCHAR"/>
        <result column="school_id" property="schoolId" jdbcType="INTEGER"/>
        <result column="head_ico" property="headIco" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, t_name, phone, sex, remark, status, pwd, school_id, head_ico
  </sql>
    <select id="selectBySTeacher" resultMap="BaseResultMap" parameterType="com.hklk.oplatform.entity.table.STeacher">
        select
        <include refid="Base_Column_List"/>
        from hklk_school_teacher
        where 1=1
        <if test="id != null">
            and id = #{id,jdbcType=INTEGER}
        </if>
        <if test="schoolId != null">
            and school_id = #{schoolId,jdbcType=INTEGER}
        </if>
        <if test="phone != null">
            and phone = #{phone,jdbcType=VARCHAR}
        </if>
        <if test="remark != null">
            and remark = like CONCAT('%', #{remark}, '%')
        </if>
        <if test="tName != null">
            and t_name = like CONCAT('%', #{tName}, '%')
        </if>

    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
        delete from hklk_school_teacher
        where id = #{id,jdbcType=INTEGER}
    </delete>

    <insert id="insertSelective" parameterType="com.hklk.oplatform.entity.table.STeacher">
        insert into hklk_school_teacher
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="tName != null">
                t_name,
            </if>
            <if test="phone != null">
                phone,
            </if>
            <if test="sex != null">
                sex,
            </if>
            <if test="remark != null">
                remark,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="pwd != null">
                pwd,
            </if>
            <if test="shoolId != null">
                school_id,
            </if>
            <if test="headIco != null">
                head_ico,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="tName != null">
                #{tName,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                #{phone,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                #{sex,jdbcType=INTEGER},
            </if>
            <if test="remark != null">
                #{remark,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                #{status,jdbcType=INTEGER},
            </if>
            <if test="pwd != null">
                #{pwd,jdbcType=VARCHAR},
            </if>
            <if test="schoolId != null">
                #{schoolId,jdbcType=INTEGER},
            </if>
            <if test="headIco != null">
                #{headIco,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.hklk.oplatform.entity.table.STeacher">
        update hklk_school_teacher
        <set>
            <if test="tName != null">
                t_name = #{tName,jdbcType=VARCHAR},
            </if>
            <if test="phone != null">
                phone = #{phone,jdbcType=VARCHAR},
            </if>
            <if test="sex != null">
                sex = #{sex,jdbcType=INTEGER},
            </if>
            <if test="remark != null">
                remark = #{remark,jdbcType=VARCHAR},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=INTEGER},
            </if>
            <if test="pwd != null">
                pwd = #{pwd,jdbcType=VARCHAR},
            </if>
            <if test="schoolId != null">
                school_id = #{schoolId,jdbcType=INTEGER},
            </if>
            <if test="headIco != null">
                head_ico = #{headIco,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>

    <select id="queryTeacherBySchoolId" resultMap="BaseResultMap" parameterType="java.lang.Integer">
        select
        <include refid="Base_Column_List"/>
        from hklk_school_teacher
        where school_id = #{schoolId,jdbcType=INTEGER}
        order by id desc
    </select>

</mapper>